.wrapper div {
	display		: inline-block;
	vertical-align	: top;
}

#order_entry {
	min-width	: 400px;
	background	: lightblue;
	line-height	: 2em;
}

#order_entry li {
	list-style	: none;
}

#order_entry ul li p {
	color		: rgba(0,0,0,0.4);
	display	: block;
}

#order_items {
	background	: green;
}

#menu_items {
	background	: pink;
	min-width	: 400px;
}

#queue_view {
	background	: yellow;
	min-width	: 800px;
}

ol li label {
  width: 200px;
  display: inline-block;
}

/* Edit Job */
ol li input[type=text] {
  width: 200px;
  display:none;
}

ol li.edit_mode input[type=text] {
  width: 200px;
  display:inline-block;
}

ol li.edit_mode label {
  width: 200px;
  display:none;
}

ol li select {
  width: 200px;
  display:none;
}

ol li.edit_mode select {
  width: 200px;
  display:inline-block;
}

ol li p.dollar {
  padding: 0 10px;
  display: inline-block;
}
