.wrapper div {
	display		: inline-block;
	vertical-align	: top;
}

#order_entry {
	min-width	: 400px;
	background	: lightblue;
	line-height	: 2em;
}

#order_entry li {
	list-style	: none;
}

#order_items {
	background	: green;
}

#menu_items {
	background	: pink;
	min-width	: 400px;
}

#queue_view {
	background	: yellow;
	min-width	: 800px;
}
